body{
    width: 715px;
    margin: 0 auto;
  background: url(../imagenes/Urban.png);
  background-repeat: no-repeat;
  background-size: cover;

}

h1{
    text-align: center;

}

form{
    width: 800px;
    background: #fff;
    padding: 80px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
img{
    width: 40px;
    height: 20px;
}